---
import MainLayout from "../layouts/MainLayout.astro";
import SocialIcons from "../components/Social-Icons.astro";
---

<MainLayout title="United for Christ Ministries">
  <main>
    <div class="hero-bg bg-gray-600 bg-blend-multiply bg-cover bg-center bg-no-repeat min-h-screen">
      <img class="h-48 md:h-64 mx-auto p-8" src="/logo.svg" alt="united for christ ministries logo" />
      <div class="mx-auto max-w-screen-xl px-4 text-center">
        <h1 class="text-3xl font-bold leading-none tracking-tight text-white md:text-4xl pt-8">New website coming soon.</h1>
      </div>

      <div class="text-white text-center pt-8 md:pt-28 md:grid grid-cols-3 gap-2">
        <div class="py-3">
          <h2 class="text-lg font-semibold">Join us</h2>
          <p>Family & Youth Service every <br /> Sunday and Thursday @ 7pm</p>
        </div>
        <div class="py-3">
          <h2 class="text-lg font-semibold">Location</h2>
          <p>Sundance Apt Homes Social Center <br />1402 Vermont,<br />Harlingen, TX 78550</p>
        </div>
        <div class="py-3">
          <h2 class="text-lg font-semibold">Contact</h2>
          <div class="">
            <a href="mailto:unitedforchrist1721@gmail.com" class="hover:underline">unitedforchrist1721@gmail.com</a>
            <br />
            <a href="tel:956-244-5939" class="hover:underline">(956) 244-5939</a>
            <br />
            <a href="tel:956-367-6528" class="hover:underline">(956) 367-6528</a>
          </div>
        </div>
      </div>

      <div class="text-center text-white pt-24 pb-8">
        <h2 class="text-lg font-semibold pb-3">Follow us</h2>

        <SocialIcons />
      </div>
    </div>
  </main>

  <style>
    html,
    body {
      background-color: black;
      max-width: 100%;
      overflow-x: hidden;
    }
    .hero-bg {
      background-image: url("../assets/bg-lights.webp");
    }
  </style>
</MainLayout>
