---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="United for Christ Ministries">
	<main>
		<!-- <div class=" h-screen bg-slate-500 flex">
			<h1 class=" text-4xl md:text-8xl m-auto text-center">New website coming soon.</h1>
		</div> -->
		<div class="hero-bg bg-gray-600 bg-blend-multiply bg-cover bg-center bg-no-repeat h-screen">
			<img class=" h-48 md:h-64 mx-auto py-8" src="/logo.svg" alt="united for christ ministries logo">
			<div class="mx-auto max-w-screen-xl px-4 text-center">
				<h1 class=" text-3xl font-bold leading-none tracking-tight text-white md:text-4xl">New website coming soon.</h1>
				<!-- <p class="mb-8 text-lg font-normal text-gray-300 lg:px-24 lg:text-xl">Set to launch 10/08</p> -->
				<!-- <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-x-4 sm:space-y-0">
					<a href="#mc_embed_signup_scroll" class="mx-20 inline-flex items-center justify-center rounded-lg bg-blue-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-900 sm:mx-0"> Get started</a>
					<a href="#services" class="mx-20 inline-flex items-center justify-center rounded-lg border border-white px-5 py-3 text-center text-base font-medium text-white hover:bg-gray-100 hover:text-gray-900 focus:ring-4 focus:ring-gray-400 sm:mx-0">
						Learn more
						<svg aria-hidden="true" class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
					</a>
				</div> -->
			</div>

			<div class="text-white text-center pt-2 md:pt-8 md:grid grid-cols-3 gap-2">
				<div class="py-3">
					<h2 class=" text-lg font-semibold">Join us</h2>
					<!-- <p>Family Service: Sundays &#64; 7pm <br>Youth/Young Adult Service: Thursdays &#64; 7pm</p> -->
					<p>Family & Youth Service every <br> Sunday and Thursday @ 7pm</p>
				</div>
				<div class="py-3">
					<h2 class="text-lg font-semibold">Location</h2>
					<p>Sundance Apt Homes Social Center <br>1402 Vermont,<br>Harlingen, TX 78550</p>
				</div>
				<div class="py-3">
					<h2 class=" text-lg font-semibold">Contact</h2>
					<div class="">
						<a href="mailto:unitedforchrist1721@gmail.com" class="hover:underline">unitedforchrist1721@gmail.com</a> 
						<br>
						<a href="tel:956-244-5939" class="hover:underline">(956) 244-5939</a>
						<br>
						<a href="tel:956-367-6528" class="hover:underline">(956) 367-6528</a>
						</div>
				</div>
				<!-- <div class="py-3">
					<h2 class=" text-lg font-semibold">Follow us</h2>
					<div><a href="/" class=" underline">Facebook</a><br>
						<a href="/" class=" underline">Instagram</a></div>
				</div> -->
			</div>
			<div class="py-3 md:pt-16 text-white text-center">
				<h2 class=" text-lg font-semibold">Follow us</h2>
				<div><a href="https://www.facebook.com/UnitedForChristMinistries" class=" underline">Facebook</a><br>
					<a href="https://www.instagram.com/unitedforchristministries1721/" class=" underline">Instagram</a></div>
			</div>
		</div>
	</main>
</Layout>

<style>
	.hero-bg {
		background-image: url("../assets/bg-lights.webp");
	}
</style>